html,body, .game_area {
    height: 95%;
}
h1 {
    font-size: 4rem;
}
body {
    background: url('cover.jpg');
    background-size: cover;
    font-family: 'Rye', cursive;
    background-repeat: no-repeat;
    transition: linear 2s;
}
button {
    font-family: 'Rye', cursive;
}
.game_area {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 3fr 1fr;
    grid-gap: 0.5rem;
    text-align: center;
}
.title {
    grid-area: 1/2;
}
.player1 {
    grid-area: 2/1;
}
.player2 {
    grid-area: 2/3;
}
.big {
    font-size: 4rem;
}
.main {
    text-align: center;
    font-size: 4rem;
}
.container {
    /* background-color: rgba(166, 168, 56, 0.4); */
    background: url('container.jpg');
    background-size: cover;
    opacity: 0.8;
    border-radius: 0.5rem;
    transition: linear 1s;
}
.image {
    image-rendering: pixelated;
    /* image-rendering: -webkit-op timize-contrast;    */
}